
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    width: 1200px;
    margin: auto;


}
header {
    font-size: 30px;
    background: white;
    height: 80px;
    border: 2px solid black;
    text-align: center;
}
#Container nav{
    height: 80px;
    border: 2px solid black;
    font-size: 30px;
    text-align: center;


}#Container #Content{
    height: 200px;

}
#Container #Content #left{
    width: 20%;
    float: left;
    height: 200px;
    background: white;
    border: 2px solid black  ;
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
}
#Container #Content #right{
    width: 80%;
    float: right;
    height: 200px;
    background: white ;
    border: 2px solid black  ;
    font-size: 30px;
    text-align: center;
    padding-top: 60px;

}
#Container footer{
    height: 60px;
    background: white;
    border: 2px solid black  ;
    font-size: 30px;
    text-align: center;
}